.App {
  text-align: center;
}

P {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.3rem;
  letter-spacing: 0.0144rem;
  text-align: left;
}

h3 {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.25rem;
}

nav {
  /* position: fixed; */
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.25rem;
  color: white;
  z-index: 99;
  align-items: center;
  text-align: center;
}

ul {
  justify-content: space-around;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}

li {
  font-family: "Raleway";
  font-style: normal;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
li > button {
  margin-left: 5.4375rem;
}
textarea {
  display: block;
  margin: 1.25rem auto;
  width: 45%;
  height: 10.9375rem;
  padding: 1.25rem;
  background-color: transparent;
  color: #bdebea;
  border: #bdebea 0.0625rem solid;
  border-radius: 0.375rem;
}
.mob-burger {
  display: none;
  width: 1.25rem;
  height: 1.25rem;
  background-color: rebeccapurple;
}
button {
  background: linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
  border: none;
  /* width: 6.5625rem; */
  height: 2.8125rem;
  border-radius: 0.375rem;
  padding: 0.75rem 1.25rem 0.8125rem;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.295rem;
  cursor: pointer;
}

button:hover {
  scale: 1.2;
}
a {
  text-decoration: none;
}

a:link,
a:visited {
  color: white;
}
a:hover {
  color: white;
}
.grid {
  box-sizing: border-box;
  display: grid;
  overflow: unset;
  grid-template-columns: repeat(2, minmax(300px, 0.8fr));
  justify-content: space-around;
  align-items: center;
  padding: 2.5rem 4.375rem;
  grid-gap: 2rem 3.625rem;
}
.hero {
  grid-template-columns: repeat(auto-fill, minmax(450px, 0.8fr));

  grid-gap: 0rem 4.625rem;
  margin: 0 auto;
}
.hero-text {
  text-align: left;
}
.hero div {
}
.hero-text button {
  width: fit-content;
}
.hero-text h1 {
  letter-spacing: 0.1em;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.9375rem;
  background: linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-right: 0.15rem solid #00d9f5;
  width: 0;
  overflow: hidden;
  animation: typing 2s 0.3s 2 forwards;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.about {
  padding-left: 0.625rem;
  text-align: left;
}
.about > p {
  padding-left: 0.625rem;
  border-left: 0.3125rem solid #00f5a0;
}

section {
  margin: 0 4.375rem;
  margin-top: 4.2rem;
  /* grid-gap: 1.8rem 3.625rem; */
}
.project-card {
  box-sizing: content-box;
  background: #222525;
  border-radius: 0.1174rem;
  height: 600px;
  margin: 0 auto;
}
.project-card:hover {
  /* border: #00f5a0 0.25rem solid; */
}

.project-card :first-child {
  width: 100%;
  margin: 0;
}
.project-card a button,
.project-card a ,
.project-card button {
  width: fit-content;
  height: 2.8125rem;
  font-size: 0.7rem;
  font-weight: 700;
}
.project-card * {
  margin-left: 1rem;
}

.mySkills {
  grid-template-columns: repeat(auto-fill, minmax(100px, 0.3fr));
}
.skill:hover {
  scale: 1.3;
}
.social {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
.social-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin: 1.25rem;
}

.social-icon:hover {
  scale: 1.3;
}
footer a {
  display: inline;
}
footer {
  margin: 30px auto;
}
footer ul {
  justify-content: center;
}
footer li {
  margin: 0 30px;
}

.contact label {
  text-align: left;
}
.contact input {
  display: block;
  margin: 1.25rem auto;
  width: 45%;
  height: 2.5rem;
  padding: 1.25rem;
  background-color: transparent;
  color: #bdebea;
  border: #bdebea 0.0625rem solid;
  border-radius: 0.375rem;
}
.contact button {
  width: 45%;
}
.App-logo:hover {
  scale: 1.3;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.burger-menu {
  display: none;
  cursor: pointer;
  font-weight: 100;
  z-index: 5;
}

.burger-bar {
  width: 2em;
  height: 0.1em;
  background-color: rgb(0, 183, 255);
  border-radius: 0.5em;
  margin-top: 8px;
  z-index: 99;
  
}

.menu {
  width: 45%;
  height: 20vh;
  background-color: rgb(21, 34, 64);
  position: absolute;
  top: 40px;
  padding: 30px;
  /* border: #00f5a0 2px solid ; */
  border-radius:20px ;
  z-index: 0;
} 
.menu >div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.menu >div *{
  padding-left: 8px ;
  border-left:4px solid #00f5a0 ;
}

/* ------------- sliding menu ------------------ */
.hidden {
  display: none ;
}

.visible {
  display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
  transform: rotate(-45deg) translate(-15px);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
  transform: rotate(45deg) translate(-15px);
  transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

@media (max-width: 750px) {
  .nav-link {
    display: none;
  }
  .burger-menu {
    display: block;
  }
   

  nav ul{
    justify-content: start;
    margin-left:0px ;
  }
  img {
    margin: 0 auto;
    max-width: 100%;
  }
  section {
    margin: 0 2.375rem;
    margin-top: 2.2rem;
  }
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
    margin: 0 auto;
    padding: 1.875rem;
  }
  .hero-text h1 {
    font-size: 1.6594rem;
    line-height: 1.9375rem;
  }
  .project-card a button,
  .project-card a ,
  .project-card button {
    width: fit-content;
    height: 1.8125rem;
    font-size: 0.7rem;
    font-weight: 500;
    margin: 0.625rem;
  }
  .project-card{
   height: fit-content;
  }


  p {
    font-size: 1.2rem;
  }
  .mySkills {
    /* width: ; */
    grid-template-columns: repeat(auto-fill, minmax(3.125rem, 0.33fr));
  }
  .contact input,
  button,
  textarea {
    width: 80%;
  }
}
