body {
  margin: 0;
  font-family: 'Montserrat';
  color: #BDEBEA;
  background-color:#041F31;
  
}
*{
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
